 <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="container">
            {{>header}}

            <p>Welcome to the Weather App</p>

        </div>
        {{>footer}}
    </body>
</html>